/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    /* MINE - portion de code permettant d'ajouter un gap entre le header et le main*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** MES MODIFS *************************************************************************/

/* HEADER AND NAV */
.header-section {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}

.nav-logo, .nav-logo img {
    width: 50px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
   
    gap: 50px;
    background-color: gray;
   
    
   
}

.herbergements-link, .activites-link {
    
    text-decoration: none;
    font-size: 16px;
    
    /* padding-top: 35px;
    margin: 35px; */
    color: black;
}

.herbergements-link:hover, .activites-link:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

/* SEARCH SECTION */

.search-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

.search-section * { /* permet d'"enlever" les marges des enfants de .searchsection */
    margin: 0;
}

/* Headline */
.headline h1 {
    font-weight: bold;
    font-size: 22px;
}

.headline p {
    font-weight: 400;
    font-size: 16px;
}

/* Form */
.searchbar {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.searchbar-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}

.searchbar-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #F2F2F2; /* BORDER-COLOR */
}

.searchbar-button {
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    border-color: #0065FC; /* BORDER-COLOR */
}

.searchbar-label, .searchbar-input, .searchbar-button {
    height: 100%;
    font-size: 18px;
    font-weight: bold;
}

.searchbar-input, .searchbar-button {
    text-align: center;
}

.searchbar i, .searchbar ::placeholder {
    color: black; 
}

.searchbar-input:focus::placeholder {
    color: transparent;
}

.searchbar-input:focus-visible {
    outline: none;
}

/* Filters */
.filterbar {
    height: 50px;
}

.filterbar-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 15px;
}

.filterbar-title {
    font-size: 18px;
}

.filterbar-button {
    width: 173px;
    border-radius: 25px;
    height: 100%;
    font-size: 17px;
    font-weight: bold;
    border-color: #F2F2F2; /* BORDER-COLOR */
    background-color: white;
}

.filterbar-button:hover {
    background-color: #DEEBFF;
}

.filterbar-button i {
    padding-right: 10px;
}

.infoline-text {
    font-size: 16px;
}

.infoline i {
    padding-right: 20px;
}



/******************************************************************************************/


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title .hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
