/****** GENERAL ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


/****** BODY ***********/
.main-container {
    max-width: 1440px;
    min-width: 320px; /* utilité ? */
    padding: 0 50px;
    box-sizing: border-box;
    /* MINE - ajoute des gaps entre le header, le main et le footer */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin: auto;
}

/****** MAIN ***********/
.main-section { /* MINE - ajoute un gap entre les sections */
    display: flex;
    flex-direction: column;
    gap: 35px;
}


/****** HEADER ***********/
.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}

.header-logo {
    width: 61px;
    height: 19px;
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link-accomodations, .nav-link-activities {
    display: block;
    height: 60px; /* plus petit que 79px pour bloquer le decalage au survol */
    border-top: 3px solid white; /* bloque le leger décalage au survol */
    line-height: 50px; /* 40 */
    text-decoration: none;
    font-size: 16px;
    padding-top: 16px;
    color: black;
}

.nav-link-accomodations:hover, .nav-link-activities:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.fa-xs.fa-solid.fa-star.neutral-star {
    color: #F2F2F2;
}


/****** SEARCH SECTION ***********/
.search-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    width: 100%;
}

.search-section * { /* enlever les marges des enfants de .searchsection */
    margin: 0;
}

.headline-title {
    font-weight: bold;
    font-size: 22px;
}

.headline-text {
    font-weight: 400;
    font-size: 16px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.searchbar-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}

.searchbar-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  #F2F2F2;
}

.searchbar-button {
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    border: none;
}

.search-icon-button {
    display: none;
    width: 50px;
}

.fa-solid.fa-magnifying-glass {
    color: #F2F2F2;
}

.searchbar-label, .searchbar-input, .searchbar-button {
    height: 100%;
    font-size: 18px;
    font-weight: bold;
}

.searchbar-input, .searchbar-button {
    text-align: center;
}

.searchbar i, .searchbar ::placeholder {
    color: black;
    opacity: 1;
}

.searchbar-input:focus::placeholder {
    color: transparent;
}

.searchbar-input:focus-visible {
    outline: none;
}

.filterbar {
    /* height: 50px; */
}

.filterbar-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* height: 100%; */
    gap: 15px;
}

.filterbar-title {
    font-size: 18px;
}

.filterbar-buttonbox {
    height: 100%;
}

.filterbar-button {
    /* width: 173px; */
    border-radius: 25px;
    height: 50px; /* height: 100%; */
    font-size: 17px;
    font-weight: bold;
    border: 1px solid  #F2F2F2;
    background-color: white;
    padding: 5px 20px 5px 20px;
}

.filterbar-button:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.filterbar-button i {
    padding-right: 10px;
}

.infoline {
    display: flex;
    gap: 10px;
}

.infoline-text {
    font-size: 16px;
    line-height: 30px;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #d3d3d3;
    font-size: 12px;
}

/****** ACCOMODATIONS SECTION ***********/
.accomodations-content {
    display: flex;
    justify-content: space-between;
}

.accomodations-content section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.accomodations-section {
    width: 65%;
    /* MINE - code permettant  */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.accomodations-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;    
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card .card-img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.accomodations-cards .card {
    display: flex;
    flex-direction: column;
    width: 30%; /* 33% est la dimension des img déja donnée ds le code */
}

.accomodations-cards .card-img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accomodations-cards .card-content {
    padding-left: 15px;
}

.accomodations-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.accomodations-cards .card-subtitle {
    margin: 0;
}

.accomodations-cards .card-rating {
    margin-bottom: 5px;
}

.show-more {
    margin: 0;
    font-size: 18px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}


/****** POPULAR SECTION ***********/
.popular-section {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 30px;  
}

.popular-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px; 
}

.popular-cards .card {
    display: flex;
}

.popular-cards .card-img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/****** ACTIVITIES SECTION ***********/
.activities-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.activities-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.activities-cards .card {
    display: flex;
    flex-direction: column;
    width: 22%;
    padding: 0;
}

.activities-cards .card-img {
    height: 420px; /* 100% // 380px; */
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card-content {
    padding: 20px;
}

.activities-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.activities-cards .card-subtitle {
    margin: 0;
}


/****** FOOTER ***********/
.footer-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    row-gap: 15px;
}

.footer-division {
    width: 33%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.footer-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.footer-text {
    text-decoration: none;
    color: black;
}


/****** MEDIA QUERIES ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    /****** HEADER ***********/
    .search-icon-button {
        display: none;
    }

    .filterbar-rating {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .filterbar-buttonbox {
        display: flex;
        column-gap: 10px;
    }
   
    /****** ACCOMODATIONS SECTION ***********/
    .accomodations-content {
        flex-direction: column;
        gap: 50px;
    }

    .accomodations-section {
        width: 100%;
    }

    .popular-section {
        width: 100%;
        margin-top: 0;
        gap: 20px;
    }

    .popular-cards {
        flex-direction: row;
        row-gap: 20px;
    }

    .popular-cards .card-link {
        width: 31%;
    }

    .popular-cards .card-content {
        width: 100%; /* 183 px */
    }

    .popular-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }

    /****** ACTIVITIES SECTION ***********/

    .activities-cards .card-img {
        height: 200px; /* 200 270px */
    }

    .activities-cards .card-title {
        margin: 0;
        line-height: 18px;
    }

    .activities-cards .card-content {
        width: inherit; /* 183 px */
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    .main-container{
        padding: 0px;
    }

    .header-section {
        flex-direction: column;
        height: auto;
    }

    .header-logo {
        padding: 30px;
    }
    
    .navbar {
        width: 100%;
        text-align: center;
    }

    .nav-list {
        gap: 0;
    }
    
   .nav-item {
        width: 50%;
        border-bottom: 3px solid white;
   }

    .nav-link-accomodations, .nav-link-activities {
        display: inline;
    }

    .nav-item:hover {
        border-bottom: 3px solid #0065FC;
    }

    .nav-link-accomodations:hover, .nav-link-activities:hover {
        border-top: none;
        color: #0065FC;
    }

    .search-section {
        padding: 0px 20px;
        width: inherit;
    }

    .searchbar {
        justify-content: center; /* start */
    }

    .search-button {
        display: none;
    }

    .search-icon-button {
        display: block;
    }

    .filterbar-rating, .filterbar-buttonbox {
        gap: 20px; 
    }

    .filterbar-buttonbox {
        flex-wrap: wrap;
        /* justify-content: center; */
    }

    .filterbar-button {
        width: 45%;
    }

    .accomodations-content {
        flex-direction: column-reverse;
    }

    .accomodations-content section {
        padding: 30;
        border-radius: 0px;
    }

    .accomodations-content .accomodations-section {
        gap: 15px;
        background-color: white;
    }

    .popular-section {
        padding: 30px;
    }

    .popular-cards  {
        flex-wrap: wrap;
    }

    .popular-cards .card-link {
        width: 100%;
    }

    .popular-cards .card-img {
        width: 100%;
        /* height: 136px; */
    }

    .accomodations-cards .card {
        width: 100%;
    }

    



}
